Repository n1zee/mrm-preset-rmr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser json5

style: format all with prettier
  .commitlintrc.json
  eslint/index.js
  husky/index.js
  lintStaged/index.js
  package/index.js
  rmr-commits/index.js
  rmr-editorconfig/index.js
  rmr-gitignore/index.js
  rmr-prettier/index.js
  tsconfig/index.js
  tslint/index.js
Due: prettier --write

feat: remove ts-config
  config.json
  tsconfig/index.js
Due: prettier --write

docs: remove absolute links to tasks
  README.md
Due: none

docs: rewrite info about tasks
  README.md
Due: none

docs: add options to readme
  README.md
Due: none

feat: read readmeFile from options
  rmr-commits/index.js
  rmr-prettier/index.js
Due: prettier --write

docs: add configuration section
  README.md
Due: none

fix(prettier): use json parser for configs
  rmr-prettier/index.js
Due: prettier --write

feat(linting): add task for eslint
  README.md
  config.json
  rmr-linting/index.js
Due: prettier --write

feat: remove previous tasks
  README.md
  config.json
  eslint/index.js
  husky/index.js
  lintStaged/index.js
  package/index.js
  tslint/index.js
Due: prettier --write

docs: improve installation section
  README.md
  package.json
  yarn.lock
Due: none

v2.0.0
  package.json
Due: none

feat: rename default task
  README.md
  config.json
Due: none

v2.1.0
  package.json
Due: none

fix(linting): allow to check typescript
  README.md
  rmr-linting/index.js
Due: prettier --write

fix(prettier): json, add mjs
  rmr-prettier/index.js
Due: prettier --write

style: apply new version of preset
  .eslintrc.json
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --write --parser json5

v2.2.0
  package.json
Due: none

feat(linting): add lint npm-script, change lintstaged, add ts rules
  README.md
  rmr-linting/index.js
Due: prettier --write

feat(prettier): arrow parens should be always
  rmr-prettier/index.js
Due: prettier --write

style: apply latest preset
  .eslintrc.json
  .huskyrc
  .lintstagedrc
  .prettierrc
  package.json
  rmr-gitignore/index.js
  rmr-linting/index.js
  rmr-prettier/index.js
Due: prettier --write, prettier --write --parser json5

v2.3.0
  package.json
Due: none

docs: wrap to backticks
  README.md
Due: none

v2.4.0
  package.json
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx, json}
  prettier --write --parser json5: any of: {.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}
